/* ********************************************************************* */
table.excel {
	border-style:ridge;
	border-width:0;
	border-collapse:collapse;
	font-family:sans-serif;
	font-size:11px;
}
table.excel thead th, table.excel tbody th {
	background:#CCCCCC;
	border-style:ridge;
	border-width:0;
	text-align: center;
	vertical-align: top;
}
table.excel tbody th { text-align:center; vertical-align: top; }
table.excel tbody td {
	/*border-top:1pt solid black;
	border-left:1pt solid black;
	border-right:1pt solid black;
	border-bottom:1pt solid black;*/
}
/* ********************************************************************* */
#hitam {
	background-color:#000000;
	/*border:10pt double black;*/
}
#hitamkiri {
	background-color:#000000;
	border-left:20px solid black;
	/*border-right:20px solid black;*/
}
#hitamkanan {
	background-color:#000000;
	/*border-left:20px solid black;*/
	border-right20px solid black;
}
#biru { background-color:#00ffff; }
#birukiri {
	border-left:5px solid black;
	/*border-right:5px solid black;*/
}
#birukanan {
	/*border-left:5px solid black;*/
	border-right:5px solid black;
}
/* ********************************************************************* */
#kotaAtas {
	border-top:1px solid black;
	/*border-right:1px solid black;*/
}
#kotaAtasKanan {
	border-top:1px solid black;
	border-right:1px solid black;
}
#kotaKiri {
	border-left:1px solid black;
	/*border-right:1px solid black;*/
}
#kotaKanan {
	/*border-left:1px solid black;*/
	border-right:1px solid black;
}
#kotaBawahKanan {
	border-right:1px solid black;
	border-bottom:1px solid black;
}
#kotaBawah {
	/*border-left:1px solid black;*/
	border-bottom:1px solid black;
}
#kotak {
	border-top:2pt double black;
	border-left:2pt double black;
	border-right:2pt double black;
	border-bottom:2pt double black;
}
#kotakSolid {
	border-top:1pt solid black;
	border-left:1pt solid black;
	border-right:1pt solid black;
	border-bottom:1pt solid black;
}
#kotakHide {
	font-size:20.0pt;color:white;font-weight:400;
	text-decoration:none;text-underline-style:none;text-line-through:none;
	font-family:Arial;border:none;
}
#kotakJumlah {
	border:double windowtext;
	/*border-style:double;*/
	font-size:15pt;font-weight:100;
	text-align: center;
}
#top {
    background-color: #ccc;
    padding: 20px
}
/* ********************************************************************* */